body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(to bottom, #c37676, #e1b5a6);
    color: rgb(228, 188, 188); */
    margin: 0;
    padding: 6px;
    border-radius: 30px;
    background-color: rgb(199, 159, 159);
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    color: #64170a;
    font-size: 28px;
    font-weight: 600;
}

.container {
    width: 430px;
    height: 420px;
    padding: 35px;
    border-radius: 30px;
    background-color: rgb(228, 188, 188);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.mood-buttons, .activity-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    font-size: large;
}

.activity-options{
    height: 200px;
    width: 360px;
    padding: 20px;
}
.activity-btn{
    width: 100px;
    height: 50px;
}

.mood-button, .activity-btn {
    height: 70px;
    width: 120px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: #cf9d9d;
    font-size: 0.9em;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.mood-button:hover, .activity-btn:hover {
    background-color: #de5466;
    transform: scale(1.05);
}

.back-btn, .action-btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    height: 50px;
    width: 90px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: #9b3a4c;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}


.back-btn:hover, .action-btn:hover{
    background-color: #e24a4a;
    color: white;
}

.back-btn:active, .action-btn:active {
    background-color: #d53a3a;
    transform: scale(0.95);
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(82, 113, 255, 0.2);
}

.mood-button:active, .activity-btn:active {
    background-color: #c0e0ff;
    transform: scale(0.95);
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(82, 113, 255, 0.2);
}

.mood-button::first-letter, activity-btn::first-letter {
    font-size: 20px;
    margin-right: 8px;
}

#content-display{
    width: 370px;
    height: 360px;
    padding: 20px;;
    justify-content: center; 
    align-items: center;
}
.activity-options{
    height: 360;
}
#button-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

